@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a{
    color:white;
}

html {
  position: relative;
  min-height: 100%;
}



body {
    background-color: #242333;
    color:white;
    display: flex;
    flex-direction: column;
    
    font-family: 'Lato', sans-serif;
    margin-bottom: 60px;
}

.seat-report {
    background-color:darkgray;
    height: 80px;
    width: 80px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.seat-avialable {
    background-color: #00ff90;
    height: 80px;
    width: 80px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.seat-taken {
    background-color: #ff0000;
    height: 80px;
    width: 80px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.stage {
    background-color: steelblue;
    height: 150px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);

}
.container-seat {
    border-radius:10px;
    margin-bottom: 30px;
    
}

