@model List<Los_Portales.Models.Seat>

@{
    ViewData["Title"] = "Index";
}


<h1 style="text-align:center">Seating Chart: @Model[0].Play.PlayName</h1>

<div class="container-fuild"> 
    <div class="stage"> <h2 style="text-align:center; align-content:center; color:black" > Stage </h2></div>
        <div class="container-seat">
            @for(int i = 0; i <8; i++)
            {   
                <div class="row" style="display:flex;margin-left:45px;">
                @for(int j = 0; j < 10; j++)
                {  
                    <div class="seat-avialable"> 
                        <h6 class="text-dark"> @Model[j+(i*10)].SeatNumber.ToString()</h6>
                        <a class="text-dark" asp-action="Edit" asp-route-id="@Model[j+(i*10)].SeatId.ToString()" ><h6> Edit </h6></a>
                    </div>
          
                }
                </div>       
            }     
    </div> 
</div>
