@model IEnumerable<Los_Portales.Models.Seat>
@{
    ViewData["Title"] = "AddToCart";
}

<h1>Shopping Cart</h1>
<div class="container">
    <table class="table table-borded style="color:white"">
        <thead style="color:white">
            <tr>
                <th>Seat</th>
                <th>Play</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody style="color:white">
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Play.PlayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a> Remove Seat </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Seats" asp-action="SeatingChart" asp-route-id="">
        <button class="btn btn-primary" type="submit"> Continue Shopping </button>
    </form>
    <form>
        <button class="btn btn-success" type="submit">Check Out</button>
    </form>
</div>

